my-app/
treasurer_management_app.sql
/backend/storage/logs/
/backend/storage/*.log
/run_file/RUN__STOP_SERVER/
/run_file/GITHUB_UPDATES/
/run_file/RESET_NODE_MODULES/
/.tools/
/.python-packages/
/.db-working-copy/
/.venv/
/backend/.env
/frontend/.env
/frontend/_env copy
